<% layout('./layouts/boilerplate') -%>

<h1>Forgot Password</h1>

<form method="POST" action="/forgot-password?_method=PUT">
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" autofocus>
    </div>
    <div>
        <input type="submit" value="Reset Password">
    </div>
</form>